@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
  --black-main: #0b0b0b;
  --black-card: #141414;
  --black-border: #1f1f1f;

  --yellow-main: #ffd400;
  --yellow-hover: #e6bf00;

  --text-main: #ffffff;
  --text-muted: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black-main);
  color: var(--text-main);
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;
}